<div class="row mt-2 mx-1">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6 text-white">
                        Employee Portal
                    </div>
                    <div class="col-6 text-right">
                        <button class="btn btn-primary"></button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Contact No</th>
                            <th>Email</th>
                            <th>Alt Contact</th>
                            <th>City</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of employeeArr; let i=index">
                            <td>{{i+1}}.</td>
                            <td>{{item.name}}</td>
                            <td>{{item.empContactNo}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.accountNo}}</td>
                            <td>{{item.city}}</td>
                            <td>
                                <button class="btn" (click)="editData(item._id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                  </svg></button>
                                <button class="btn" (click)="delete(item._id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                  </svg></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6 text-white" *ngIf="employee._id==null">
                        New Employee
                    </div>
                    <div class="col-6 text-white" *ngIf="employee._id!=null">
                        Edit Employee
                    </div>
                    <div class="col-6 text-right">
                        <button class="btn btn-primary"></button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form class="add">
                    <div class="row">
                        <div class="col-6">
                            <label>Name :</label>
                            <input type="text" class="form-coltrol" name="name" [(ngModel)]="employee.name" required>
                        </div>
                        <div class="col-6">
                            <label>Contract No :</label>
                            <input type="number" class="form-coltrol" name="empContactNo" maxlength="7" minlength="7"
                                [(ngModel)]="employee.empContactNo" required>
                        </div>
                        <div class="col-6">
                            <label>Email :</label>
                            <input type="email" class="form-coltrol" name="email" [(ngModel)]="employee.email" required>
                        </div>
                        <div class="col-6">
                            <label>City :</label>
                            <input type="text" class="form-coltrol" name="city" [(ngModel)]="employee.city" required>
                        </div>
                        <div class="col-6">
                            <label>Address1 :</label>
                            <textarea type="text" class="form-coltrol" name="address1"
                                [(ngModel)]="employee.address1" required></textarea>
                        </div>
                        <div class="col-6">
                            <label>Address2 :</label>
                            <textarea type="text" class="form-coltrol" name="address2"
                                [(ngModel)]="employee.address2"></textarea>
                        </div>
                        <div class="col-6">
                            <label>Zip Code :</label>
                            <input type="number" class="form-coltrol" name="zipCode" [(ngModel)]="employee.zipCode" maxlength="7" minlength="7" required>
                        </div>

                        <div class="col-6">
                            <label>State :</label>
                            <input type="text" class="form-coltrol" name="state" [(ngModel)]="employee.state" required>
                        </div>
                        <div class="col-6">
                            <label>Bank Name :</label>
                            <input type="text" class="form-coltrol" name="bankname" [(ngModel)]="employee.bankName" required>
                        </div>
                        <div class="col-6">
                            <label>IsFc :</label>
                            <input type="number" class="form-coltrol" name="ifsc" [(ngModel)]="employee.ifsc" required>
                        </div>
                        <div class="col-6">
                            <label>Account No :</label>
                            <input type="number" class="form-coltrol" name="accountNo" [(ngModel)]="employee.accountNo" required>
                        </div>
                        <div class="col-6">
                            <label>ank Branch :</label>
                            <input type="text" class="form-coltrol" name="bankBranch" [(ngModel)]="employee.bankBranch" required>
                        </div>
                        <div class="col-6">
                            <label>Salary:</label>
                            <input type="number" class="form-coltrol" name="salary" [(ngModel)]="employee.salary" required>
                        </div>
                       
                    </div>
                    <div class="row my-3">
                        <input type="button" class="col-4 offset-4 btn btn-success " *ngIf="employee._id==null" (click)="onSave()" Value="Save Employee">
                        <input type="button" class="col-4 offset-4 btn btn-warning " *ngIf="employee._id!=null" (click)="update(employee._id)" Value="Edit Employee">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>