<nav class="navbar navbar-expand-lg bg-primary sticky-top">
  <div class="container-fluid">
    <p class="navbar-brand title" routerLink="dashboard">Employee Pay Roll System</p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="dashboard">Home</a>
        <a class="nav-link" routerLink="employee">Employee</a>
        <a class="nav-link" routerLink="attendance">Attendance</a>
        <a class="nav-link" routerLink="advance">Advance</a>
        <a class="nav-link" routerLink="leaves">Leaves</a>
        <a class="nav-link" routerLink="salary">Salary</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet>

</router-outlet>